/* commons */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

.blue-button {
    background-color: blue;
    padding: 5px 15px;
    color: lightgrey;
}

/* header */
.header-container {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 12px;
    background-color: white;
}

.logo,
.nav-sx {
    float: left;
}

.nav-dx,
.accedi {
    float: right;
}

.header-container nav,
.header-container .logo,
.header-container .accedi {
    line-height: 50px;
}

.header-container img {
    vertical-align: middle;
}

.header-container li {
    display: inline-block;
    padding-left: 40px;
    vertical-align: middle;
    font-weight: 500;
    list-style: none;
}

.logo {
    width: 10vw;
    padding-left: 20px;
    margin-right: 10px;
}

.header-container nav {
    width: 35vw;
    color: black;
}

.header-container nav.nav-dx,
.accedi {
    text-align: right;
}

.accedi {
    margin: 0 20px 0 30px;
}

/* jumbotron */
.jumbo-container {
    width: 100%;
    height: 550px;
    background-color: rgba(150, 200, 250, 0.7);
    margin-top:50px;
}

.container-interno {
    width: 80%;
    margin: 50px auto;
    padding: 50px 0;
}

.container-interno h1 {
    font-size: 65px;
    font-weight: bolder;
    text-align: left;
}

.jumbo-col-sx {
    width: 35%;
    float: left;
    padding-right: 30px;
}

.jumbo-col-sx p {
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 30px;
}

.jumbo-col-sx h5 {
    padding-top: 15px;
}

.jumbo-col-dx {
    width: 65%;
    float: right;
}

.jumbo-col-sx,
.jumbo-col-dx {
    margin-top: 40px;
}

#proposta-cliente {
    height: 100%;
    width: 100%;
}

.jumbo-col-sx i {
    padding-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
/* main */
.main-container {
    width: 75%;
    margin: 200px auto 20px;
}

.abbonamento h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

#annuale {
    margin-left: 20px;
}

#mensile,
#annuale {
    vertical-align: middle;
}

.radio-buttons {
    font-size: 12px;
    line-height: 12px;
}

main .abbonamento {
    width: 100%;
}

.colonne {
    width: 100%;
}

.main-col-sx,
.main-col-cen,
.main-col-dx {
    width: calc(100% / 3 - 50px);
    height: 600px;
    text-align: center;
    margin-top: 30px;
    float: left;
}

.main-col-sx h5,
.main-col-sx .singolo,
.main-col-cen h5,
.main-col-cen .singolo,
.main-col-dx h5,
.main-col-dx .singolo {
    border: 1px solid black;
}

.main-col-sx h5,
.main-col-cen h5,
.main-col-dx h5 {
    padding: 5px 0;
}

.main-col-sx .singolo,
.main-col-cen .singolo,
.main-col-dx .singolo {
    min-height: 600px;
}

.main-col-cen {
    margin: 30px 75px;
}

.singolo span {
    display: block;
    text-align: left;
    padding: 10px 0 10px 10px;
}
/* footer */

/* debug */

/* .debug .header-container {
    background-color: aqua;
} */

.debug main {
    background-color: tomato;
    width: 100%;
    height: 2400px; 
}

.debug main .abbonamento {
    background-color: burlywood;
}

/* .debug .colonne {
    width: 100%;
}

.debug .main-col-sx,
.debug .main-col-cen,
.debug .main-col-dx {
    width: calc(100% / 3 - 50px);
    height: 600px;
    background-color: chartreuse;
    text-align: center;
    margin-top: 30px;
    float: left;
}

.debug .main-col-sx h5,
.debug .main-col-sx .singolo,
.debug .main-col-cen h5,
.debug .main-col-cen .singolo,
.debug .main-col-dx h5,
.debug .main-col-dx .singolo {
    border: 1px solid black;
}

.debug .main-col-sx h5,
.debug .main-col-cen h5,
.debug .main-col-dx h5 {
    padding: 5px 0;
}

.debug .main-col-sx .singolo,
.debug .main-col-cen .singolo,
.debug .main-col-dx .singolo {
    min-height: 500px;
}

.debug .main-col-cen {
    margin: 30px 75px;
}  */