/* commons */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

/* header */
.header-container {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid black;
    font-size: 15px;
    color: black;
}

.nav-sx,
.nav-dx,
.nav-sx li,
.nav-dx li {
    display: inline-block;
    line-height: 73px;
}

.nav-sx li:hover,
.nav-dx li:hover {
    border-bottom: 2px solid black;
}

.nav-sx li:first-child:hover,
.nav-dx li:last-child:hover {
    border-bottom: none;
}

.nav-sx li:nth-child(2n+2) {
    margin: 0 30px;
}

.nav-dx li:nth-child(2n-1) {
    margin: 0 30px;
}

.nav-sx li:first-child {
    margin-left: 15px;
}

.nav-dx li:last-child {
    margin-right: 15px;
}

.nav-sx {
    float: left;
}

.nav-dx {
    float: right;
}

.header-container nav img {
    vertical-align: text-bottom;
}

#inizia {
    padding: 5px 15px;
    background-color: blue;
    color: white;
}
/* jumbotron */

/* main */

/* footer */

/* debug */
/* .debug .header-container {
    background-color: lightgrey;
} */