/* commons */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

.blue-button {
    padding: 5px 15px;
    background-color: blue;
    color: white;
}

.white-button {
    padding: 5px 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

/* header */
.header-container {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid black;
    font-size: 15px;
    background-color: white;
    color: black;
}

.nav-sx,
.nav-dx,
.nav-sx li,
.nav-dx li {
    display: inline-block;
    line-height: 73px;
}

.nav-sx li:hover,
.nav-dx li:hover {
    border-bottom: 2px solid black;
}

.nav-sx li:first-child:hover,
.nav-dx li:last-child:hover {
    border-bottom: none;
}

.nav-sx li:nth-child(2n+2) {
    margin: 0 30px;
}

.nav-dx li:nth-child(2n-1) {
    margin: 0 30px;
}

.nav-sx li:first-child {
    margin-left: 15px;
}

.nav-dx li:last-child {
    margin-right: 15px;
}

.nav-sx {
    float: left;
}

.nav-dx {
    float: right;
}

.header-container nav img {
    vertical-align: text-bottom;
}

/* jumbotron */
.jumbotron-section {
    width: 100%;
    height: 600px;
    background-color: rgba(180,208,231,255);
    margin-top: 75px;
}

.jumbotron-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;

}

.jumbotron-container .col-sx {
    width: 35%;
}

.jumbotron-container .col-dx {
    width: 65%;
}

.jumbotron-container .col-sx,
.jumbotron-container .col-dx {
    float: left;
    padding-top: 50px;
}

.jumbotron-container h1 {
    font-size: 55px;
}

.jumbotron-container .col-sx p {
    font-size: 15px;
    padding-bottom: 30px;
    padding-right: 50px;
    text-align: left;
}

.jumbotron-container .col-sx a {
    padding: 5px 15px;
    background-color: blue;
    color: white;
}

.jumbotron-container .col-sx h4 {
    padding: 20px 0 30px 0;
}

.jumbotron-container .col-sx i {
    font-size: 25px;
}

.jumbotron-container .col-dx img {
    width: 100%;
    min-height: 400px;
    max-height: 450px;
    max-width: 800px;
}
/* main */

/* prima sezione */
.main-container {
    width: 100%;
}

.container-interno {
    width: 70%;
    height: 100%;
    margin: auto;
}

main .colonne {
    width: 100%;
    min-height: 700px;
}

main .colonne .col-sx,
main .colonne .col-cen,
main .colonne .col-dx {
    width: calc(100% / 3 - 20px);
    border: 1px solid black;
    float: left;
    min-height: 750px;
}

main .col-sx .label-abbonamento,
main .col-cen .label-abbonamento,
main .col-dx .label-abbonamento,
main .contenitore-lungo .label-abbonamento {
    text-align: center;
    border-bottom: 1px solid black;
}

main .colonne .col-cen {
    margin: 0 30px 0;
}

main .container-interno h2.sez-abbonamento,
main .container-interno h2.sez-operazioni {
    font-size: 30px;
    padding: 100px 0 30px;
}

main .container-interno .colonne {
    margin-top: 20px;
}

main .colonne .label-abbonamento,
main .contenitore-lungo .label-abbonamento {
    padding: 5px 0;
}

main .col-sx .specifiche-abbonamento,
main .col-cen .specifiche-abbonamento,
main .col-dx .specifiche-abbonamento {
    padding: 20px 20px;
}

.specifiche-abbonamento ul {
    list-style: none;
}


.specifiche-abbonamento li:nth-child(1n+4),
.specifiche-abbonamento li:first-child {
    margin-bottom: 20px;
}

.specifiche-abbonamento li:nth-child(2),
.specifiche-abbonamento li:nth-child(8) {
    margin-bottom: 10px;
}

.specifiche-abbonamento li:nth-child(3),
.specifiche-abbonamento li:nth-child(6) {
    margin-bottom: 50px;
}

.specifiche-abbonamento li:first-child  {
    font-size: 18px;
}

.specifiche-abbonamento li:nth-child(1n+3) {
    font-size: 12px;
}

.prova-button {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    text-align: center;
}

main .contenitore-lungo {
    border: 1px solid black;
    margin-top: 50px;
}

.contenitore-colonne {
    padding: 30px 20px;
}

.contenitore-lungo .col-sx {
    width: 70%;
    float: left;
}

.contenitore-lungo .col-sx p {
    font-size: 12px;
}

.contenitore-lungo .col-sx h4 {
    margin: 20px 0 30px;
}

.contenitore-lungo .col-dx {
    width: 30%;
    float: left;
}

/* main seconda sezione */
.contenitore-partner {
    width: 100%;
    margin-top: 100px;
}

.contenitore-partner .col-sx,
.contenitore-partner .col-dx {
    width: 55%;
    float: left;
}

.contenitore-partner .col-dx {
    width: 45%;
    padding: 30px 0 0 30px;
    float: left;
}

.contenitore-partner .col-dx h2 {
    padding-bottom: 30px;
}

.contenitore-partner .col-dx p {
    padding-bottom: 30px;
    font-size: 15px;
}

.contenitore-partner img {
    width: 100%;
}

/* main sezione operazioni */
.contenitore-operazioni {
    width: 100%;
}

.contenitore-operazioni .contenitore-top,
.contenitore-operazioni .contenitore-bottom {
    width: 100%;
    height: 50%;
    margin-bottom: 75px;
}

.contenitore-operazioni .contenitore-top img,
.contenitore-operazioni .contenitore-bottom img {
    width: 100%;
}

.contenitore-top .col-sx,
.contenitore-top .col-cen,
.contenitore-top .col-dx,
.contenitore-bottom .col-sx,
.contenitore-bottom .col-cen,
.contenitore-bottom .col-dx {
    width: calc(100% / 3 - 40px);
    float: left;
}

.contenitore-top .col-cen,
.contenitore-bottom .col-cen {
    margin: 0 60px;
}

.contenitore-operazioni h3 {
    font-size: 20px;
    margin: 10px 0 20px;
}

.contenitore-operazioni p {
    font-size: 12px;
    padding-right: 20px;
}

.titolo-chiusura {
    width: 50%;
    font-size: 28px;
    padding-bottom: 20px;
}

#scopri {
    font-size: 12px;
    text-decoration: underline;
    color: blue;
}

/* main sezione partners */
.partners-container {
    width: 100vw;
    margin-top: 30px;
    overflow-x: hidden;
}

.partners-container .col-sx,
.partners-container .col-dx {
    width: calc(100% - 70vw);
    float: left;
}

.partners-container .col-cen {
    width: calc(100% - 60vw);
    height: 30vw;
    float: left;
    padding: 30px;
}

.partners-container .col-cen p {
    font-size: 13px;
    padding: 40px 0;
}

.partner-1,
.partner-2,
.partner-3,
.partner-4 {
    float: left;
    width: 15vw;
    height: 15vw;
    line-height: 15vw;
    text-align: center;
}

.partners-container .col-sx img,
.partners-container .col-dx img {
    width: 50%;
    vertical-align: middle;
    filter: invert(1);
}

.partners-container .col-sx .partner-1 {
    background-color: rgba(162,211,155,255);
    border: 10px solid rgba(208,233,205,255);
}

.partners-container .col-sx .partner-2 {
    background-color: rgba(97,8,43,255);
}

.partners-container .col-sx .partner-3 {
    background-color: rgba(0,147,206,255);
}

.partners-container .col-sx .partner-4 {
    background-color: rgba(255,28,28,255);
}

.partners-container .col-dx .partner-1 {
    background-color: rgba(255,28,28,255);
}

.partners-container .col-dx .partner-2 {
    background-color: rgba(180,208,231,255);
}

.partners-container .col-dx .partner-3 {
    background-color: rgba(13,36,129,255);
}

.partners-container .col-dx .partner-4 {
    background-color: rgba(255,216,48,255);
}

.partners-container .col-cen {
    background-color: rgba(245,245,245,255);
}

.partners-container .col-cen img {
    width: 20%;
}

.partners-orizzontale {
    width: 100vw;
    height: 20vw;
}

.partners-orizzontale {
    background-color: rgba(180,208,231,255);
    float: left;
    padding: 100px;
    padding-left: 200px;
    color: rgb(100, 2, 2);
}

.container-bottom {
    width: 60%;
    float: left;
    font-size: 28px;
}

.container-bottom h2 {
    padding-right: 100px;
}

.partners-orizzontale .pulsante-prova {
    width: 40%;
    float: left;
}

/* footer */

/* debug */
/* .debug .header-container {
    background-color: lightgrey;
} */

/* .debug .jumbotron-container {
    background-color: chartreuse;
} */

/* .debug .main-container {
    height: 2400px;
    background-color: brown;
} */

/* .debug .container-interno {
    height: 100%;
    background-color: burlywood;
} */

/* main .colonne {
    background-color: gold;
} */

/* .debug .contenitore-operazioni {
    height: 1000px;
} */